body {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width:414px;
}
h1 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 100px;
  font-weight: 100; 
  text-align: center;
  color: #CB1F03;
}
section {
  display: flex;
  flex-wrap: wrap;
}
.partTitle{
  margin-top: 10px;
  font-family: 'Staatliches', cursive;
  color:#CB1F03;
  font-size: 40px;
}
.slogan {
  color:white;
  font-family: 'Staatliches', cursive;
  font-size: 30px;
}
.white {
  color:white;
}
.scrollDown {
  position: absolute;
  font-family: 'Staatliches', cursive;
  background-color: white;
  font-size: 40px;
  color:black;
  right: 5vw;
  bottom: 31vh;
  height: 40px;
  width: 110px;
  padding: 10px 10px;
} 
.part1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 64vh;
  width:414px;
}
.part2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 36vh;
  width:414px;
  background: linear-gradient(180deg, #000000 0%, rgba(29, 29, 29, 0) 2%), linear-gradient(360deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 2%), #1D1D1D;
}
.textPart2 {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Zhi Mang Xing', cursive;
  margin: 5px 5vh;
  font-size: 50px;
  text-align: center;
  color: #CB1F03;
}
span {
  font-size: 60px;
  color: white;
}
.part3 {
  height: 100vh;
  width:414px;
  background: linear-gradient(360deg, #5B5B5B 0%, rgba(91, 91, 91, 0) 2%), #2E2E2E;
}

.part4 {
  height: 100vh;
  width:414px;
  background: linear-gradient(360deg, #D8D5D5 0%, rgba(91, 91, 91, 0) 2%), #5B5B5B;
  display: flex;
  flex-direction: column;
}
.part5 {
  height: 100vh;
  width:414px;
  background: linear-gradient(180deg, rgba(216, 213, 213, 0) 98%, #FFFFFF 100%), #D8D5D5;
}
section.Part5 {
  display: flex;
  flex-direction: column;
  font-family: 'Wire One', sans-serif;
  margin: 20px;
}
.h2Part5 {
  font-weight: 600;
  font-size: 42px;
  margin: 0;
}
section.Part5 > p {
  font-size: 28px;
}
.snowWhite > h2 {
  font-family: 'Wire One', sans-serif;
  font-size: 42px;
}
.part6 {
  height: 100vh;
  width:414px;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.subTitle {
  font-family: 'Wire One', sans-serif;
  font-size: 34px;
  text-align: center;
  font-weight: 400;
}
.orderBox {
  width: 40%;
  border: 1px solid #828282;
  margin: auto;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Staatliches', cursive;
  color:#CB1F03;
  font-size: 20px;
}
div .orderBox > svg {
  margin: 10px 0px -15px 0px;
}
.orderButton {
  background-color: #CB1F03;
  width: 80%;
  margin: 50px auto;
  font-size: 36px;
  font-family: 'Staatliches';
  height: 92px;
}
.orderBox:hover {
  background-color: #d8d5d5;
}
button > span {
  font-size: 1em;
}
.heroImage {
  align-self: center;
  margin-top: 70px;
  width: 60vw;
}
.snowWhite {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.doctor{
  width: 40vw;
  border-radius: 10000px;
  margin-right:10px;
}

.scrollDown:hover {
  cursor: pointer;
} 
@media screen and (min-width:1440px) {
  body {
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:100vw;
    
  }
  h1 {
    font-family: 'Zhi Mang Xing', cursive;
    font-size: 120px;
    font-weight: 100;
    margin:0 auto;
    text-align: center;
    color: #CB1F03;
  } 
  .scrollDown {
    position: absolute;
    font-family: 'Staatliches', cursive;
    background-color: white;
    font-size: 40px;
    color:black;
    right: 20px;
    bottom: 20px;
    height: 40px;
    width: 110px;
    padding: 10px 10px;
  }
  
  .part1 {
    height: 100vh;
  }
  .part2 {
    height: 100vh;
    width:100%;
    background: linear-gradient(180deg, #000000 0%, rgba(29, 29, 29, 0) 2%), linear-gradient(360deg, #2E2E2E 0%, rgba(46, 46, 46, 0) 2%), #1D1D1D;
  }
  .part3 {
    height: 100vh;
    width:100%;
    background: linear-gradient(360deg, #5B5B5B 0%, rgba(91, 91, 91, 0) 2%), #2E2E2E;
  }
  
  .part4 {
    height: 100vh;
    width:100%;
    background: linear-gradient(360deg, #D8D5D5 0%, rgba(91, 91, 91, 0) 2%), #5B5B5B;
  }
  .part5 {
    height: 100vh;
    width:100%;
    background: linear-gradient(180deg, rgba(216, 213, 213, 0) 98%, #FFFFFF 100%), #D8D5D5;
  }
  .part6 {
    height: 100vh;
    width:100%;
    background-color: white;
  }